<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="/cred/" method="post">
        <table style="width: 30%;">
            <tr>
                <td>Nome:</td>
                <td><input type="text" name="nome"></td>
            </tr>
            <tr>
                <td>CC/Matricula/Data:</td><td><input type="text" name="cc"></td>
            </tr>
            <tr>
                <td>Tipo de Utilizador:</td>
                <td>
                    <select style="width: 90%" name="tipo">
                        <option value="aaue">AAUE</option>
                        <option value="nucleos">Núcleos</option>
                        <option value="servicos">Serviços</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td rowspan="2">Zonas:</td>
                <td align="center">
                    1<input type="checkbox" name="z1" value="1">
                    2<input type="checkbox" name="z2" value="1">
                    3<input type="checkbox" name="z3" value="1">
                    4<input type="checkbox" name="z4" value="1">
                    5<input type="checkbox" name="z5" value="1">
                </td>
            </tr>
            <tr>
                <td align="center">
                    6<input type="checkbox" name="z6" value="1">
                    7<input type="checkbox" name="z7" value="1">
                    8<input type="checkbox" name="z8" value="1">
                </td>
            </tr>
            <tr>
                <td>Imagem:</td>
                <td><input type="file" name="photo"></td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
</body>
</html>